@page "/countries"


@inject IRepository repository;


<h3>Países</h3>



<GenericList MyList="Countries">
    <Loading>
        <p>loading...</p>
    </Loading>
    <Body>
        <table class="table table-striped">
            <div class="mb-3">
                <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
            </div>
            <thead>
                <tr>
                    <th>País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(country))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>



@code {

    public List <Country>? Countries { get; set; }
    public string? Error { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var response = await repository.GetAsync<List<Country>>("/api/countries");
        if (response.Error)
        {
            Error = await response.GetErrorMessageAsync();
            return;
        }
        Countries = response.Response;
    }
    private void Delete(Country country)
    {
        
    }
}
